.home {
  display: grid;
  height: 100vh;
  position: relative;
  grid-template-columns: .25fr 1fr;
  grid-column-gap: 2vw;
  background-color: $light-blue;
}

.startQuizBtn {
  @include centerQuizArea();
  margin-top: 10em;
}

.quiz-status {
  @include centerQuizArea()
  width: 75%;
  text-align: center;
  margin-top: 20%;
  font-size: 2em;
}
