button {
  width: 100px;
  height: 5vh;
  border: 1px solid $light-blue;
  border-radius: 5px;
  background-color: $dark-blue;
  color: white;
  @include boxShadow()
  &:hover {
    @include boxShadowHover()
  }
}

body {
  margin: 0;
}
