@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

$button-color: blue;
$light-blue: #A8D0E6;
$dark-blue: #24305E;
$blue: #374785;
$red: #F76C6C;
$gold:#F8E9A1;

@mixin centerHorizontally() {
  margin-left: 50%;
  transform: translateX(-50%)
}

@mixin centerQuizArea() {
  margin-left: 45%;
  transform: translateX(-50%)
}

@mixin mainFont() {
  font-family: 'Abel', sans-serif;
}

@mixin titleFont() {
  font-family: 'Teko', sans-serif;
}

@mixin boxShadow() {
  box-shadow: 0px 0px 8px $blue inset;
}

@mixin boxShadowHover() {
  cursor: pointer;
  box-shadow: 0px 0px 12px $light-blue inset;
}
