.timer-container {
  position: relative;
  height: 15px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1em;
}

.timer {
  position: absolute;
  height: 15px;
  background-color: $green;
  transition: 1s linear;
  border-radius: 4px;
  animation: timer 90s ease;
}

@keyframes timer {
  0% {
    background-color: $green
  }

  50% {
    background-color: $gold
  }

  100% {
    background-color: $red
  }
}
